<nav id="header" class="navbar navbar-expand-md fixed-top" ng-style="{'background': user.styles.header}" role="navigation">
    <a href="" class="btn-collapse" ng-click="sidebarCollapse()"><i class="fas fa-bars"></i></a>
    <a class="navbar-brand" ui-sref="inicio">PAUnel v3.0</a>
    
    <button class="navbar-toggler hamburger hamburger--collapse" type="button"
            ng-class="{'is-active': !sidebarCollapsed}"
            ng-click="sidebarCollapse()"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</nav>

<div id="sidebar" ng-style="{'background': user.styles.sidebar}">
    <ul class="list-unstyled">
        <li class="nav-item user" ui-sref="perfil" ui-sref-active="active">
            <div class="box">
                <div class="img-frame">
                    <img src="img/user.png" class="rounded-circle" ng-if="!user.foto">
                    <img ng-src="{{user.foto}}" class="rounded-circle" ng-if="user.foto">
                </div>
                <p class="text-center">{{user.nome}} {{user.sobrenome}}</p>
            </div>
        </li>
        <li class="nav-item" ui-sref-active="active">
            <a class="nav-link" ui-sref="noticias"><i class="fas fa-newspaper"></i> <span>Notícias</span></a>
        </li>
        <li class="nav-item" ui-sref-active="active" ng-if="user.master">
            <a class="nav-link" ui-sref="integrantes"><i class="fas fa-users"></i> <span>Integrantes</span></a>
        </li>
        <li class="nav-item" ui-sref-active="active">
            <a class="nav-link" ui-sref="galeria"><i class="fas fa-images"></i> <span>Galeria</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" ng-click="logout()"><i class="fas fa-sign-out-alt"></i> <span>Sair</span></a>
        </li>
    </ul>
</div>