<div class="panel-content" ng-style="{'background': user.styles.background}">
    <div class="sidebar-backdrop" ng-class="{'backdrop-active': !sidebarCollapsed}" ng-click="sidebarCollapse()"></div>
    <div class="jumbotron">
        <div class="img-bg"></div>
        <h1 class="text-center">Bem-vindo ao PAUnel</h1>
    </div>
    
    <div class="container-fluid">
        <p>Ainda não pensei no que colocar nesta seção, então por gentileza, vá para a página de <a ui-sref="noticias">notícias</a></p>
    </div>
</div>