<div class="panel-content" ng-style="{'background': user.styles.background}">
    <div class="sidebar-backdrop" ng-class="{'backdrop-active': !sidebarCollapsed}" ng-click="sidebarCollapse()"></div>
    <div class="jumbotron">
        <div class="img-bg"></div>
        <h1 class="text-center">Notícias</h1>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <label>Procurar</label>
                <input type="text" class="form-control" ng-model="vm.q" placeholder="Digite aqui">
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success btn-block-xs" ng-click="vm.openAdd()"><i class="fas fa-plus"></i> Adicionar</button>
            </div>
            <div class="col-12">
                <div class="bloco">
                    <div class="alert alert-info" ng-if="!vm.news.length">
                        <i class="fas fa-info-circle"></i> Nenhum registro encontrado
                    </div>
                    <div class="content centraliza" ng-if="vm.isLoading">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;"></div>
                    </div>
                    <div class="tabela" ng-if="!vm.isLoading && vm.news.length">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th ng-click="vm.orderByField='titulo'; vm.reverseSort = !vm.reverseSort">Título
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th ng-click="vm.orderByField='autor'; vm.reverseSort = !vm.reverseSort">Autor
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th ng-click="vm.orderByField='urlNoticia'; vm.reverseSort = !vm.reverseSort">URL
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th ng-click="vm.orderByField='dtNoticia'; vm.reverseSort = !vm.reverseSort">Data
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th>Ativo</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="x in vm.news | filter: vm.q | orderBy:vm.orderByField:vm.reverseSort | itemsPerPage: vm.pageSize" pagination-id="noticias" current-page="vm.pagination.current">
                                        <td ng-click="vm.detalhes(x)">{{x.titulo}}</td>
                                        <td ng-click="vm.detalhes(x)">{{x.autor}}</td>
                                        <td><a href="http://clanpauamarelo.com/noticia/{{x.url}}" target="_blank">{{x.url}}</a></td>
                                        <td ng-click="vm.detalhes(x)">{{x.createdAt | date: 'dd/MM/yyyy'}}</td>
                                        <td>
                                            <button class="btn btn-light btn-sm" ng-click="vm.ativo(x)">
                                                <i class="fas" ng-class="{'fa-toggle-on': x.ativo, 'fa-toggle-off': !x.ativo}"></i>
                                            </button>
                                        </td>
                                        <td style="width: 160px;">
                                            <button class="btn btn-sm btn-primary" ng-click="vm.openEdit(x)">Editar</button>
                                            <button class="btn btn-sm btn-danger" ng-click="vm.delete(x)">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls
                            max-size="5"
                            pagination-id="noticias"
                            template-url="views/includes/customPagination.html">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal add -->
<div ng-include="'views/modals/posts/modalAdd.html'"></div>
<!-- Modal edit -->
<div ng-include="'views/modals/posts/modalEdit.html'"></div>
<!-- Modal detalhes -->
<div ng-include="'views/modals/posts/modalDetalhes.html'"></div>