<div class="panel-content" ng-style="{'background': user.styles.background}">
    <div class="sidebar-backdrop" ng-class="{'backdrop-active': !sidebarCollapsed}" ng-click="sidebarCollapse()"></div>
    <div class="jumbotron">
        <div class="img-bg"></div>
        <h1 class="text-center">Partidas</h1>
    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <label>Procurar</label>
                <input type="text" class="form-control" ng-model="vm.q" placeholder="Digite aqui">
            </div>
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success btn-block-xs" ng-click="vm.openAdd()"><i class="fas fa-plus"></i> Adicionar</button>
            </div>
            <div class="col-12">
                <div class="bloco">
                    <div class="alert alert-info" ng-if="!vm.partidas.length">
                        <i class="fas fa-info-circle"></i> Nenhum registro encontrado
                    </div>
                    <div class="content centraliza" ng-if="vm.isLoading">
                        <div class="spinner-grow" style="width: 3rem; height: 3rem;"></div>
                    </div>
                    <div class="tabela" ng-if="!vm.isLoading && vm.partidas.length">
                        <div class="table-responsive">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr>
                                        <th ng-click="vm.orderByField='map'; vm.reverseSort = !vm.reverseSort">Mapa
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th ng-click="vm.orderByField='status'; vm.reverseSort = !vm.reverseSort">Status
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th ng-click="vm.orderByField='score'; vm.reverseSort = !vm.reverseSort">Placar
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th ng-click="vm.orderByField='createdAt'; vm.reverseSort = !vm.reverseSort">Data
                                            <i class="fas fa-sort"></i>
                                        </th>
                                        <th>PAU AMARELO</th>
                                        <th>Adversários</th>
                                        <th>Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="x in vm.partidas | filter: vm.q | orderBy:vm.orderByField:vm.reverseSort | itemsPerPage: vm.pageSize" pagination-id="partidas" current-page="vm.pagination.current">
                                        <td ng-click="vm.detalhes(x)">{{x.map}}</td>
                                        <td ng-click="vm.detalhes(x)">
                                            <span ng-if="x.status === 'win'">Vitória</span>
                                            <span ng-if="x.status === 'draw'">Empate</span>
                                            <span ng-if="x.status === 'loose'">Derrota</span>
                                        </td>
                                        <td ng-click="vm.detalhes(x)">{{x.clan_home.score}}x{{x.clan_away.score}}</td>
                                        <td ng-click="vm.detalhes(x)">{{x.createdAt | date: 'dd/MM/yyyy'}}</td>
                                        <td><button class="btn btn-sm btn-light" ng-click="vm.openPlayers(x, 'home')">Players</button></td>
                                        <td><button class="btn btn-sm btn-light" ng-click="vm.openPlayers(x, 'away')">Players</button></td>
                                        <td style="width: 160px;">
                                            <button class="btn btn-sm btn-primary" ng-click="vm.openEdit(x)" ng-disabled="user.master ? false : x.autor === vm.fullName ? false : true">Editar</button>
                                            <button class="btn btn-sm btn-danger" ng-click="vm.delete(x)" ng-disabled="user.master ? false : x.autor === vm.fullName ? false : true">Excluir</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <dir-pagination-controls
                            max-size="5"
                            pagination-id="partidas"
                            template-url="views/includes/customPagination.html">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal add -->
<div ng-include="'views/modals/partidas/modalAdd.html'"></div>
<!-- Modal edit -->
<div ng-include="'views/modals/partidas/modalEdit.html'"></div>
<!-- Modal players -->
<div ng-include="'views/modals/partidas/modalPlayers.html'"></div>