<div class="pagina-perfil panel-content" ng-style="{'background': user.styles.background}">
    <div class="sidebar-backdrop" ng-class="{'backdrop-active': !sidebarCollapsed}" ng-click="sidebarCollapse()"></div>
    <div class="jumbotron">
        <div class="img-bg"></div>
        <h1 class="text-center">Atualize seus dados</h1>
    </div>
    
    <div class="container">
        <form ng-submit="vm.editar(vm.dados)">
            <div class="box">
                <div class="img-frame">
                    <img src="img/user.png" class="rounded-circle" ng-if="!user.foto">
                    <img ng-src="{{user.foto}}" class="rounded-circle" ng-if="user.foto && !vm.img">
                    <img ng-src="{{vm.img.data.filePath}}" class="rounded-circle" ng-if="vm.img">
                    <label class="overlay" for="foto">
                        <i class="fas fa-camera"></i>
                    </label>
                    <input type="file" id="foto" name="imagem" class="form-control mb-15" file-model="vm.dados.imagem">
                </div>
                <button type="button" class="btn btn-info" ng-click="vm.upload(vm.dados.imagem)" ng-disabled="vm.imgIsLoading || !vm.dados.imagem">
                    <span ng-if="!vm.imgIsLoading"><i class="fas fa-cloud-upload-alt"></i> Upload</span>
                    <span ng-if="vm.imgIsLoading"><div class="spinner-border spinner-border-sm"></div></span>
                </button>
            </div>

            <div class="row mt-50">
                <div class="col-12 col-lg-7 mb-xs-30 mb-sm-30">
                    <h3 class="mb-15">Dados pessoais</h3>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-15">
                            <label>Nome</label>
                            <input type="text" class="form-control" ng-model="vm.dados.nome">
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Sobrenome</label>
                            <input type="text" class="form-control" ng-model="vm.dados.sobrenome">
                        </div>
                        <div class="col-12 col-md-7 mb-15">
                            <label>Login</label>
                            <input type="text" class="form-control" ng-model="vm.dados.login">
                        </div>
                        <div class="col-12 col-md-5 mb-15">
                            <label>Senha</label>
                            <button type="button" class="btn btn-primary btn-block" ng-click="vm.openModalSenha()"><i class="fas fa-lock"></i> Mudar senha</button>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4 offset-lg-1">
                    <h3 class="mb-15">Estilo do painel</h3>
                    <div class="row">
                        <div class="col-12 mb-15">
                            <label>Cor da barra superior</label>
                            <input type="color" class="form-control" ng-model="vm.dados.styles.header">
                        </div>
                        <div class="col-12 mb-15">
                            <label>Cor da barra lateral</label>
                            <input type="color" class="form-control" ng-model="vm.dados.styles.sidebar">
                        </div>
                        <div class="col-12 mb-15">
                            <label>Cor de fundo</label>
                            <input type="color" class="form-control" ng-model="vm.dados.styles.background">
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-30">
                    <button type="submit" class="btn btn-success btn-block-xs btn-block-sm" style="width: 180px; margin: 0 auto; display: block;"><i class="fas fa-save"></i> Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal senha -->
<div ng-include="'views/modals/admins/modalSenha.html'"></div>