<div class="modal fade" id="modalEdit" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form ng-submit="vm.editar(vm.dados)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-15">
                            <label>Mapa</label>
                            <select class="form-control" ng-model="vm.dados.map" required>
                                <option disabled selected value="">Selecione um mapa</option>
                                <option value="cache">Cache</option>
                                <option value="dust II">Dust II</option>
                                <option value="inferno">Inferno</option>
                                <option value="mirage">Mirage</option>
                                <option value="nuke">Nuke</option>
                                <option value="overpass">Overpass</option>
                                <option value="train">Train</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Status</label>
                            <select class="form-control" ng-model="vm.dados.status" required>
                                <option disabled selected value="">Selecione um status</option>
                                <option value="win">Vitória</option>
                                <option value="draw">Empate</option>
                                <option value="loose">Derrota</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Time adversário</label>
                            <input type="text" class="form-control" ng-model="vm.dados.clan_away.name" required>
                        </div>
                        <div class="col-12 col-md-3 mb-15">
                            <label>Score PAU AMARELO</label>
                            <input type="number" class="form-control" ng-model="vm.dados.clan_home.score" min="0" maxlength="2" required>
                        </div>
                        <div class="col-12 col-md-3 mb-15">
                            <label>Score Adversário</label>
                            <input type="number" class="form-control" ng-model="vm.dados.clan_away.score" min="0" maxlength="2" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="vm.isPostLoading">
                        <span ng-if="!vm.isPostLoading">Salvar</span>
                        <span ng-if="vm.isPostLoading"><div class="spinner-border spinner-border-sm"></div></span>
                    </button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>
    