<div class="modal fade" id="modalSobre" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sobre {{vm.dados.nick}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form ng-submit="vm.editar(vm.dados)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-15">
                            <label>Função</label>
                            <select class="form-control" ng-model="vm.dados.sobre.funcao" required>
                                <option>Playmaker</option>
                                <option>Entry Fragger</option>
                                <option>Awper</option>
                                <option>Lurker</option>
                                <option>Coach</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Mapa</label>
                            <select class="form-control" ng-model="vm.dados.sobre.mapa" required>
                                <option>Inferno</option>
                                <option>Mirage</option>
                                <option>Overpass</option>
                                <option>Cache</option>
                                <option>Train</option>
                                <option>Dust II</option>
                                <option>Nuke</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Armas</label>
                            <select multiple class="form-control" ng-model="vm.dados.sobre.armas" required>
                                <option>AK-47</option>
                                <option>M4A4</option>
                                <option>M4A1-S</option>
                                <option>AWP</option>
                                <option>Scout</option>
                                <option>Desert Eagle</option>
                                <option>Five-Seven</option>
                                <option>P250</option>
                                <option>USP</option>
                                <option>Dual Berettas</option>
                                <option>P90</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Amigão</label>
                            <input type="text" class="form-control" ng-model="vm.dados.sobre.amigao" required>
                        </div>
                        <div class="col-12 col-md-8 mb-15">
                            <label>Características</label>
                            <input type="text" class="form-control" ng-model="vm.dados.sobre.caracteristicas" ng-list required>
                        </div>
                        <div class="col-12 col-md-4 mb-15">
                            <label>Patente</label>
                            <select class="form-control" ng-model="vm.dados.sobre.patente" required>
                                <optgroup label="Cotoco">
                                    <option ng-value="1">Prata I</option>
                                    <option ng-value="2">Prata II</option>
                                    <option ng-value="3">Prata III</option>
                                    <option ng-value="4">Prata IV</option>
                                    <option ng-value="5">Prata Elite</option>
                                    <option ng-value="6">Prata Elite Master</option>
                                </optgroup>
                                <optgroup label="Péssimo">
                                    <option ng-value="7">Ouro I</option>
                                    <option ng-value="8">Ouro II</option>
                                    <option ng-value="9">Ouro III</option>
                                    <option ng-value="10">Ouro IV</option>
                                </optgroup>
                                <optgroup label="Ruim">
                                    <option ng-value="11">AK I</option>
                                    <option ng-value="12">AK II</option>
                                    <option ng-value="13">AK Cruzada</option>
                                    <option ng-value="14">Xerife</option>
                                </optgroup>
                                <optgroup label="Bom">
                                    <option ng-value="15">Águia Lendária</option>
                                    <option ng-value="16">Águia Lendária Master</option>
                                </optgroup>
                                <optgroup label="Pro">
                                    <option ng-value="17">Mestre Supremo Primeira Classe</option>
                                    <option ng-value="18">Global Elite</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-12 mb-15">
                            <label>Carreira</label>
                            <textarea class="form-control" rows="6" ng-model="vm.dados.sobre.carreira"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Salvar</button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>