<div class="modal fade" id="modalConfig" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Config de {{vm.dados.nick}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form ng-submit="vm.editar(vm.dados)">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-md-6 mb-15">
                            <label>Mouse</label>
                            <input type="text" class="form-control" ng-model="vm.dados.config.mouse" required>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Pad</label>
                            <input type="text" class="form-control" ng-model="vm.dados.config.pad" required>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Headset</label>
                            <input type="text" class="form-control" ng-model="vm.dados.config.headset" required>
                        </div>
                        <div class="col-12 col-md-6 mb-15">
                            <label>Teclado</label>
                            <input type="text" class="form-control" ng-model="vm.dados.config.keyboard" required>
                        </div>
                        <div class="col-12 mb-15">
                            <label>Monitor</label>
                            <input type="text" class="form-control" ng-model="vm.dados.config.screen" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" ng-disabled="vm.isPostLoading">
                        <span ng-if="!vm.isPostLoading">Salvar</span>
                        <span ng-if="vm.isPostLoading"><div class="spinner-border spinner-border-sm"></div></span>
                    </button>
                    <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
                </div>
            </form>
        </div>
    </div>
</div>